---
import Layout from "../layouts/Layout.astro";
import { getOrySession } from "../auth/ory/getOrySession";
import Logout from "../components/Logout.astro";
import Assortment from "../components/Assortment.astro";

let session;

try {
  session = await getOrySession(Astro.request);
} catch (error) {
  return Astro.redirect("/login");
}

const { traits: { name, phone } = {} } = session.identity;
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro, {name.first}!</span></h1>
    <h2 class="text-lg font-bold">Your name</h2>
    <p>{name.first} {name.last}</p>
    <h2 class="text-lg font-bold">Your phone number</h2>
    <p>{phone}</p>
    <p class="instructions">
      <Logout />
    </p>
    <!-- Assortment component which successfully gets checked for the logged in user... If said user is Emils test user. Required tuples are rendered by the component -->
    <Assortment session={session} />
    <!-- Another copy of the assortment component just to show what happens when calling a route for which the current user lacks permissions -->
    <Assortment
      endpoint="http://localhost:3000/api/assortment-disallowed"
      tuple={`venues:se-hq-it#some-action-we-arent-allowed-to-do@${session.identity.id}`}
      session={session}
    />
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
