---
interface Props {
  session: Session,
  endpoint?: string,
  tuple?: string,
}

import type { Session } from "@ory/client";
import { getOrySession } from "../auth/ory/getOrySession";

const { endpoint, tuple } = Astro.props;

const cookie = Astro.request.headers.get("cookie");
const response = await fetch(endpoint || "http://localhost:3000/api/assortment", {
  method: "GET",
  credentials: "same-origin",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
    cookie: cookie || "",
  },
});

let assortment;
let error;

if (response.ok) {
  assortment = await response.json();
  console.log(assortment);
} else {
  error = `${response.status}: ${response.statusText}`;
}

const { session } = Astro.props;
---

<div>
  <h1>Assortment</h1>
  <h5 class="text-xs">Checking relationship tuple:<br/><code class="bg-gray-200 p-1">{tuple || `venues:se-hq-it#assortment:read@${session.identity.id}`}</code></h5>
  {
    assortment ? (
      <p class="success">Fetched assortment!</p>
      <ul>
        {assortment.products.drink.map(({ title }: { title: string }) => (
          <li>{title}</li>
        ))}
      </ul>
    ) : (
      <p class="error">{error}</p>
    )
  }
</div>
<style>
  .success {
    line-height: 1.6;
    margin: 1rem 0;
    background: #39fa79;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-text);
  }
  .error {
    line-height: 1.6;
    margin: 1rem 0;
    background: #fa3939;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }
</style>
